<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>My Projects</title>
  <meta property="og:title" content="My Projects">
  <meta property="og:url" content="https://osagie.gg/posts">
  <meta property="og:description" content="Explore my projects and their links on GitHub.">
  <meta property="og:type" content="website">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="/static/styles/pages.css">
  <link rel="stylesheet" href="/static/styles/author.css">
  <script src="/static/js/dark-mode.js" defer></script>
</head>

<body>
  <nav class="navbar">
    <div class="links">
      <a class="link" href="/">Home</a>
      <a class="link" href="about">About</a>
      <a class="link" href="posts">Posts</a>
    </div>

    <button onclick="myFunction()" id="darkModeToggle" class="toggle-button">
      <i class="fas fa-sun"></i>
      <i class="fas fa-moon"></i>
    </button>
  </nav>
  <div class="header">
    <h1 style="color: lightblue;">Embarking on the Linux Verse</h1>
  </div>

  <!-- Author information with display picture -->
  <div class="author-info">
    <img class="author-img" src="static/images/osagie.png" alt="Osagie Godstand">
    <div class="text-sm">
      By Osagie Godstand
      on Apr 17, 2024
    </div>
  </div>

  <div class="content">
    <p>Linux gained prominence in the world of operating systems, catching my attention as I delved into its open-source principles, robust security features, and the variety of customizable distributions. The appeal of an operating system that empowers users deeply resonated with my tech-inclined perspective.</p>

    <h2>Ubuntu as the Gateway Drug</h2>
    <p>Before fully committing to Linux, I dipped my toes into the waters of virtualization. Installing VirtualBox on my Windows system, I experimented with Ubuntu, considering it the gateway drug to the Linux ecosystem. Navigating the virtual world provided a safe space to learn the ropes, ultimately fueling my decision to make the switch on my second laptop.</p>

    <h2>Crafting a Powerhouse</h2>
    <p>Eager to supercharge my Linux experience, I ventured into the hardware realm. Unscrewing the back cover of my laptop, I upgraded the SSD from 250GB to a spacious 1TB and doubled the RAM from 8GB to a more formidable 16GB. Witnessing the physical metamorphosis, my laptop was reborn as a powerhouse, ready to tackle any task thrown its way.</p>

    <img src="static/images/hp.png" alt="upgraded">

    <h2>The Pop! Goes my Windows</h2>
    <p>Armed with a bootable USB drive loaded with Pop!_OS, I embarked on a transformational journey for my trusty old HP laptop. The seamless installation process of Pop!_OS replaced the familiar Windows environment with a refreshing Linux interface.</p>

    <h2>Why Pop!_OS?</h2>
    <p>As a primarily devoted Mac user, my journey into the Linux realm was carefully guided by the distinct qualities of Pop!_OS. This Ubuntu-based distribution not only aligns with the reliability and security I appreciate in macOS but also boasts a user interface reminiscent of the Mac OS experience. Exploring Pop!_OS felt like a seamless transition, offering a comforting familiarity while introducing the flexibility and customization that Linux is celebrated for.</p>

    <h2>The Yin and Yang of Linux</h2>
    <p>Linux stands out as a non-proprietary operating system with unparalleled customization, robust security, and a vast array of free, open-source software. However, navigating a steep learning curve, potential compatibility issues, and occasional challenges with proprietary software compatibility are aspects to consider. Yet, the community support and the sense of being part of a global collaboration make the Linux journey truly rewarding.</p>

    <h2>To Conclude</h2>
    <p> Embracing Linux was not just a change in operating systems; it was a transformative experience. From initial curiosity to embracing Linux as a meaningful part of my tech repertoire, my journey underscores the adaptability and power that Linux brings to the table. While I still rely on macOS for the majority of my tasks, exploring and integrating Linux has added a valuable layer of versatility to my computing experience. </p>

    <div class="links">
            <a href="posts">Back to Posts</a>
    </div> 
 
  <footer>
    <div class="footer">
      <p>&copy; 2024 <a href="/"><b>Osagie Godstand</b></a>.</p>
    </div>
  </footer>
</body>

</html>

