{{template "layout" .}}

{{define "title"}}I built a fitness app for myself and you using Swift{{end}}

{{define "main"}}

  <div class="header">
    <h1 style="color: lightblue;">I built a fitness app for myself and you using Swift</h1>
  </div>

  <div class="author-info">
    <img class="author-img" src="static/images/o.jpeg" alt="Osagie Godstand">
    <div class="text-sm">
      By Osagie Godstand
      on Dec 16, 2025
    </div>
  </div>

  <div class="content">
  <p>
    I paused working on Wreyte to build a health and fitness app
    called <a href="https://bearctive.com"> Be ARCtive,</a>
    an app that tracks your daily steps along with other useful features.
    It is a small but practical app for people who care about their
    health and fitness metrics. I wanted something simple and easy
    to navigate, focusing only on the metrics that mattered to me,
    while still adding a unique touch.
  </p>

  <p>
    Be ARCtive extends what is already available through Apple Health,
    but adds cool features such as a workout timer,
    a route map for walks and runs, and a targets and achievements system
    that allows you to challenge yourself and earn badges.
  </p>

  <h2>Why I Built This App</h2>

  <p>
    The main reasons I built this app were to learn iOS development
    using Swift the native language for Apple platforms and to
    build something I genuinely cared about. I am an active person,
    so creating a fitness app made perfect sense to me.
  </p>

  <p>
    The tooling available within the Apple ecosystem,
    along with the Swift language itself, made it easier
    for me to accomplish this goal. It felt an ideal match,
    or as if the stars aligned.
    Although I still have a lot to learn about Swift,
    and I do not consider myself an expert by any means,
    the learning process has been incredibly rewarding.
  </p>

  <h2>What I Like About Be ARCtive</h2>

  <p>
    I believe all the features are valuable,
    but what stands out the most to me are
    the route map feature and the logo.
  </p>

  <p>
    The route map was the most challenging component to build and,
    alongside the logo, the most creative part of the app.
    While it is not as advanced as what you might find in an app
    like Strava, it has a solid foundation and plenty of
    room for improvement.
  </p>

  <p>
    The logo captures the core idea of the app, as it shows
    a person running from one location to another, with a
    target symbol inside the destination location pin.
    It visually represents movement, purpose,
    and progress toward a goal.
  </p>

  <p>
    Designing the logo allowed me to explore my creative side.
    I have always loved art and design, so this process was
    especially enjoyable for me. I believe the reason I am most
    drawn to the route map and logo is because they are the
    most creative components of the app.
  </p>

  <h2>To Conclude</h2>

  <p>
    If there is one major takeaway from this project,
    it is the importance of curiosity. If I had not been curious about
    learning iOS development with Swift and if I had allowed doubt to
    hold me back I would never have built this app. Keep going,
    stay curious, and remember that the only limit is the one you
    place on yourself.
  </p>


  <p style="margin-top: 1rem;">
     <a
     href="https://bearctive.com/info"
     style="color: #4da3ff; text-decoration: underline;"
     onmouseover="this.style.color='#1e90ff';"
     onmouseout="this.style.color='#4da3ff';"
     >
     Learn more about this project
     </a>
  </p>


  <div class="links">
    <a href="posts">Back to Posts</a>
  </div>
</div>

{{end}}



