{{template "layout" .}}

{{define "title"}}Be ARCtive is now available on Apple Watch{{end}}

{{define "main"}}

  <div class="header">
    <h1 style="color: lightblue;">Be ARCtive is now available on Apple Watch</h1>
  </div>

  <div class="author-info">
    <img class="author-img" src="static/images/o.jpeg" alt="Osagie Godstand">
    <div class="text-sm">
      By Osagie Godstand
      on Jan 07, 2026
    </div>
  </div>

  <div class="content">

  <p>
    After the first public release of <a href="https://bearctive.com"> Be ARCtive</a>,
    I took some time to reflect on the next steps needed to improve the app.
    This reflection was based on user feedback, my personal experience as the
    creator of the project, and considerations for the future of the app.
 </p>

  <p>
    As a result, I decided to take Be ARCtive a step further by upgrading it
    with several new features and improvements. The most significant addition
    is watchOS compatibility, along with other enhancements
    designed to provide a better overall user experience.
  </p>

  <p>
    I have created a dedicated Apple Watch workout timer app for Be ARCtive.
    This allows users to complete workouts directly from their watch,
    with all workout data synced to the iOS app. This greatly improves
    the user experience, as it is far more comfortable to run without holding
    a mobile phone, and most runners prefer using a watch during their
    workout sessions.
  </p>

  <p>
    With the introduction of watchOS compatibility, Be ARCtive now offers
    several key improvements, including improved GPS accuracy for runners
    and the ability to sync workout metrics and route map data to the
    iPhone app after a workout session.
    Heart rate data is also now included in the app’s dashboard.
  </p>

  <p>
    To conclude, below is a list of all the new additions to Be ARCtive:
  </p>

  <ul>
     <li>An improved front page and dashboard</li>
    <li>watchOS compatibility</li>
    <li>A Watch app designed to time workouts while syncing performance metrics and route maps to your iPhone</li>
    <li>Inclusion of heart rate metrics in the dashboard</li>
    <li>Clearer information explaining how the timer and route map work</li>
    <li>3D and hybrid 3D route map views</li>
  </ul>

  <p style="margin-top: 1rem;">
     <a
     href="https://bearctive.com/"
     style="color: #4da3ff; text-decoration: underline;"
     onmouseover="this.style.color='#1e90ff';"
     onmouseout="this.style.color='#4da3ff';"
     >
     Be ARCtive
     </a>
  </p>


  <div class="links">
    <a href="posts">Back to Posts</a>
  </div>
</div>

{{end}}



