{{template "layout" .}}

{{define "title"}}About Me{{end}}
{{define "main"}}
<div class="title">
    <h1 style="color: lightblue;">About Me</h1>
</div>

<div class="image-container">
    <img src="static/images/touchgrass.jpeg"
        width="200" height="200"
        style="border-radius: 50%;
        object-fit: cover;
        display: block;
        margin-left: 0;">
</div>


<div class="description">
    <p><strong>Hi, I'm Osagie.</strong></p>

    <p>
    I'm just a guy who wants to build and is building great software products.
    I enjoy exploring my own ideas and finding solutions to
    problems.
    </p>

    <p>
    I have two years of experience in software development, including previous
    work at a startup and a current focus on personal projects.
    </p>

    <p>
    Outside of software development, I touch grass... hehe. I also enjoy going to
    the gym, spending time with family and friends, and travelling.
    </p>

    <p>
    All my posts reflect my perceptions and experiences.
    They are not intended as absolute truths.
    </p>
</div>

    <p> <strong>Explore my:</strong>
   <a href="/posts">Posts</a> and
    <a href="/projects">Projects</a>
   </p>

<p><strong><a href="mailto:dgodstand@gmail.com"
style="text-decoration: none;">Contact Me</a></strong></p>

<p> <strong>Hyperlinks:</strong> </p>
<div class="o-links">
    <a class="o-link" href="https://github.com/OsagieDG"
    style="font-size: 24px; margin-right: 10px;"><i class="fab fa-github">
    </i></a>
    <a class="o-link"
    href="https://www.instagram.com/osagie_dg/"
    style="font-size: 24px; margin-right: 10px;">
    <i class="fab fa-instagram"></i></a>
</div>

{{end}}

