{{template "layout" .}}

{{define "title"}}About Me{{end}} 
{{define "main"}}
<div class="title">
    <h1 style="color: lightblue;">About Me</h1>
</div>

<div class="image-container">
    <img src="static/images/lbr.jpeg" width="200" height="200" style="border-radius: 6px;">
</div>

<div class="description">
    <p><strong>Hi, I'm Osagie.</strong></p>
    <p>I'm a software developer who's passionate about creating software that provides value and prioritizes a great user experience. I have a diverse skill set, and I particularly enjoy working with Go.</p>
    <p>Outside of software development, I also enjoy hitting the gym, travelling, spending time with family and friends, as well as striving for personal growth both physically and intellectually.</p>
    <p><strong>Explore my:</strong></p>
    <p><a href="/posts">Posts</a></p>
</div>
{{end}}


