{{template "layout" .}}


{{define "title"}}Hobbies{{end}}

{{define "main"}}

  <div class="header">
    <h1 style="color: lightblue;">Hobbies</h1>
  </div>

<img src="static/images/matchday.jpg"
     style="display: block; margin: 0 0 20px 0; width: 360px; height: auto;"
     alt="TWM" loading="lazy">


<img src="static/images/chestflyes.jpeg"
     style="display: block; margin: 0 0 20px 0; width: 500px; height: auto;"
     alt="TWM" loading="lazy">



{{end}}


