<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Osagie Godstand</title>
		<meta property="og:title" content="Osagie Godstand">
		<meta property="og:url" content="https://odmg.dev">
		<meta property="og:description" content="Researcher, Programmer, Developer.">
		<meta property="og:type" content="profile">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="static/styles/index.css" rel="stylesheet">
	</head>
	<body>
		<div class="circles">
			<div class="circle"></div>
			<div class="circle"></div>
			<div class="circle"></div>
			<div class="circle"></div>
			<div class="circle"></div>
			<div class="circle"></div>
			<div class="circle"></div>
			<div class="circle"></div>
			<div class="circle"></div>
		</div>
		<div class="title">
			<h1 style="color: lightblue;">Osagie Godstand</h1>
		</div>
		<div class="description">
			<h3>Creative</h3>
			<h3>Enthusiastic</h3>
			<h3>Persistent</h3>
			<h3>Problem Solver</h3>
			<h3><span>Researcher,</span> <span>Programmer,</span> <span>Developer.</span></h3>
		</div>
		<div class="links">
			<a class="link" href="/about">About</a>
			<a class="link" href="/posts">Posts</a>
			<a class="link" href="https://github.com/osag1e">Github</a>
			<a class="link" href="https://contact.osag1e.dev/">Contact</a>
		</div>
	</body>
</html>

