{{template "layout" .}}

{{define "title"}}Posts{{end}}

{{define "main"}}
<div class="header">
    <h1 style="color: lightblue;">Posts</h1>
</div>

<div class="blog-list">
    <ul>
     <li>
        <div class="preview-image">
           <a href="post6"><img src="static/images/original.png" alt="Post 6 Image"></a>
        </div>
        <div class="post-info">
            <h3>
            <a href="post6">App Development and Workflow Update
            </a></h3>
                <p> Be ARCtive got updated again, but this time it is more focused
                    <a href="post6"> Read Post...</a></p>
                <div class="text-sm">
                <em>
                    By Osagie Godstand on Feb 11, 2026
                </em>
                </div>
            </div>
      </li>

     <li>
        <div class="preview-image">
           <a href="post5"><img src="static/images/ARCtiveStudio.jpeg" alt="Post 5 Image"></a>
        </div>
        <div class="post-info">
            <h3>
            <a href="post5">I built the creative companion for Be ARCtive
            </a></h3>
                <p> ARCtive Studio enables you to overlay your workout metrics and route
                    <a href="post5"> Read Post...</a></p>
                <div class="text-sm">
                <em>
                    By Osagie Godstand on Feb 07, 2026
                </em>
                </div>
            </div>
      </li>


     <li>
        <div class="preview-image">
           <a href="post4"><img src="static/images/arcrunning.jpeg" alt="Post 4 Image"></a>
        </div>
        <div class="post-info">
            <h3>
            <a href="post4">Be ARCtive is now available on Apple Watch
            </a></h3>
                <p> I upgraded "Be ARCtive" to include watchOS support
                and it is free to use
                    <a href="post4"> Read Post...</a></p>
                <div class="text-sm">
                <em>
                    By Osagie Godstand on Jan 07, 2026
                </em>
                </div>
            </div>
      </li>



      <li>
        <div class="preview-image">
           <a href="post3"><img src="static/images/BeARCtive.jpeg" alt="Post 3 Image"></a>
        </div>
        <div class="post-info">
            <h3>
            <a href="post3">I built a fitness app for myself and you using Swift
            </a></h3>
                <p> I paused the development of Wreyte to build a health and fitness app
                called "Be ARCtive"
                    <a href="post3"> Read Post...</a></p>
                <div class="text-sm">
                <em>
                    By Osagie Godstand on Dec 16, 2025
                </em>
                </div>
            </div>
     </li>


      <li>
        <div class="preview-image">
           <a href="post2"><img src="static/images/wm.jpg" alt="Post 2 Image"></a>
        </div>
        <div class="post-info">
            <h3>
            <a href="post2">Improved Developer Workflow & Building a Writers' Platform
            </a></h3>
                <p> Using Workspaces for Better Window Management,
                    Ditching Tmux Plugins,
                    and
                    <a href="post2"> Read Post...</a></p>
                <div class="text-sm">
                <em>
                    By Osagie Godstand on Jun 08, 2025
                </em>
                </div>
            </div>
        </li>


     <li>
        <div class="preview-image">
           <a href="post1"><img src="static/images/code.jpeg" alt="Post 1 Image"></a>
        </div>
        <div class="post-info">
            <h3><a href="post1">Development Workflow Tools</a></h3>
                <p>There are a lot of tools that enhance my development
                   experience and workflow, such as
                   <a href="post1"> Read Post...</a></p>
                <div class="text-sm">
                <em>
                    By Osagie Godstand on Feb 28, 2025
                </em>
                </div>
            </div>
        </li>

        <li>
            <div class="preview-image">
                <a href="hobbies">
                <img src="static/images/football.jpg" alt="Blog Image"
                    style="border-radius: 20%;
                    object-fit: cover;
                    ">
                </a>
            </div>
            <div class="post-info">
                <h3><a href="hobbies">Hobbies</a></h3>
                <p> Photos.
                </p>
            </div>
        </li>




       <li>
            <div class="preview-image">
                <a href="about">
                <img src="static/images/touchgrass.jpeg" alt="Blog Image"
                    style="border-radius: 20%;
                    object-fit: cover;
                    ">
                </a>
            </div>
            <div class="post-info">
                <h3><a href="about">About Me</a></h3>
                <p> All my posts reflect my perceptions and experiences.
                They are not intended as absolute truths.
                </p>
            </div>
        </li>

    </ul>
</div>

<div class="o-links">
    <a class="o-link" href="https://github.com/OsagieDG"
    style="font-size: 24px; margin-right: 10px;"><i class="fab fa-github">
    </i></a>
    <a class="o-link"
    href="https://www.instagram.com/osagie_dg/"
    style="font-size: 24px; margin-right: 10px;">
    <i class="fab fa-instagram"></i></a>
</div>

<div class="pagination"></div>

<script src="/static/js/pagination.js" defer></script>

{{end}}
