{{template "layout" .}}

{{define "title"}}Posts{{end}}

{{define "main"}}
<div class="header">
    <h1 style="color: lightblue;">Posts</h1>
</div>

<div class="blog-list">
    <ul>
      <li>
        <div class="preview-image">
           <a href="blog3"><img src="static/images/wm.jpg" alt="Blog 3 Image"></a>
        </div>
        <div class="post-info">
            <h3><a href="blog3">Improved Developer Workflow & Building a Writers' Platform</a></h3>
                <p> Using Workspaces for Better Window Management, Ditching Tmux Plugins,
                    and Finally Building a Writers' Platform
                    <a href="blog3"> Read Post...</a></p>
                <div class="text-sm">
                <em>
                    By Osagie Godstand on Jun 08, 2025
                </em>
                </div>
            </div>
        </li>


     <li>
        <div class="preview-image">
           <a href="blog2"><img src="static/images/code.jpeg" alt="Blog 2 Image"></a>
        </div>
        <div class="post-info">
            <h3><a href="blog2">Development Workflow Tools</a></h3>
                <p>There are a lot of tools that enhance my development experience and workflow, such as <a href="blog2"> Read Post...</a></p>
                <div class="text-sm">
                <em>
                    By Osagie Godstand on Feb 28, 2025
                </em>
                </div>
            </div>
        </li>

     <li>
        <div class="preview-image">
           <a href="blog1"><img src="static/images/key.jpeg" alt="Blog 1 Image"></a>
        </div>
        <div class="post-info">
            <h3><a href="blog1">PATs for secure GitHub authentication</a></h3>
                <p>How and why I generate and use Personal Access Tokens for secure GitHub operations <a href="blog1"> Read Post...</a></p>
                <div class="text-sm">
                <em>
                    By Osagie Godstand on Jun 20, 2024
                </em>
                </div>
            </div>
        </li>

       <li>
            <div class="preview-image">
                <a href="about"><img src="static/images/welcome.jpeg" alt="Blog Image"></a>
            </div>
            <div class="post-info">
                <h3><a href="about">About Me</a></h3>
                <p> All my posts reflect my perceptions and experiences. They are not intended as absolute truths. </p>
                <div class="text-sm">
                    <p><em>Image by Katherine Hood on <a href="https://unsplash.com/photos/WzpTINUT-3E" target="_blank">Unsplash</a></em></p>
                </div>
            </div>
        </li>

    </ul>
</div>

<div class="o-links">
    <a class="o-link" href="https://github.com/OsagieDG" style="font-size: 24px; margin-right: 10px;"><i class="fab fa-github"></i></a>
    <a class="o-link" href="https://www.instagram.com/osagie_25/?igsh=MWFjYzRsejVxY3pqZg%3D%3D&utm_source=qr" style="font-size: 24px; margin-right: 10px;">
    <i class="fab fa-instagram"></i></a>
</div>

<div class="pagination"></div>

<script src="/static/js/pagination.js" defer></script>

{{end}}
