{{template "layout" .}}

{{define "title"}}Repositories{{end}}

{{define "main"}}

<div class="title">
    <h1 style="color: lightblue;">Repositories</h1>
</div>

    <h3>jwt-based-auth-system</h3>
    <li>
        <a href="https://github.com/OsagieDG/jwt-based-auth-system">jwt-based-auth-system</a> - User Account CRUD with a jwt-based auth system
    </li>

    <h3>pomodoro-timer</h3>
    <li>
        <a href="https://github.com/OsagieDG/pomodoro-timer">pomodoro-timer</a> - CLI Pomodoro timer
    </li>

    <h3>weather-finder</h3>
    <li>
        <a href="https://github.com/OsagieDG/weather-finder">weather-finder</a> - gRPC with TLS and HTTP/1.1 endpoints that efficiently serve weather data
    </li>

    <h3>go-k8s-google-cluster</h3>
    <li>
        <a href="https://github.com/OsagieDG/go-k8s-google-cluster">go-k8s-google-cluster</a> - Using Makefile automation to deploy a Dockerized sample Go app on GKE Autopilot Cluster
    </li>

    <h3>waiting-list</h3>
    <li>
        <a href="https://github.com/OsagieDG/waiting-list">waiting-list</a> - A waiting list made with Go, CSS, HTMX, WASM, and JavaScript to achieve hybrid rendering, combining server-side rendering with client-side form validation
    </li>

    <h3>contact-form</h3>
    <li>
        <a href="https://github.com/OsagieDG/contact-form">contact-form</a> - A contact-form made with Go, CSS, and htmx
    </li>

    <h3>user-account-auth-system</h3>
    <li>
        <a href="https://github.com/OsagieDG/user-account-auth-system">user-account-auth-system</a> - User Account CRUD with a session-based auth system
    </li>

{{end}}

