{{template "layout" .}}

{{define "title"}}Workflow Tools{{end}}

{{define "main"}}

<div class="title">
    <h1 style="color: lightblue;">Workflow Tools</h1>
</div>

<div class="description">
    <p><strong>A curated list of tools that support my development workflow.</strong></p>
</div>

<div class="toc">
    <h3>Table of Contents</h3>
    <ul>
      <li><a href="#logging-middleware">Logging Middleware</a></li>
      <li><a href="#error-logger">Error Logger</a></li>
      <li><a href="#code-editor-config">Code Editor Config</a></li>
      <li><a href="#tmux.config">Tmux Configuration</a></li>
      <li><a href="#automation-scripts">Automation Scripts</a></li>
</div>

  <section id="logging-middleware">

    <h2>Logging Middleware</h2>
    <li>
        <a href="https://github.com/OsagieDG/mlog">mlog</a> - Logging Middleware for Go HTTP Server
    </li>
  </section>


  <section id="error-logger">

    <h2>Error Logger</h2>
    <li>
        <a href="https://github.com/OsagieDG/reporter">reporter</a> - A structured and reusable error logger
        with detailed runtime info for efficient print debugging
    </li>
  </section>

  <section id="code-editor-config">
    <h2>Code Editor Config</h2>
    <li>
        <a href="https://github.com/OsagieDG/code-editor-config">code-editor-config</a> -
        A Neovim Configuration I use with tmux
    </li>


  <section id="tmux.config">
    <h2>Tmux Configuration</h2>
    <li>
        <a href="https://github.com/OsagieDG/tmux.config">tmux.config</a> - tmux configuration</li>
  </section>

  <section id="automation-scripts">
    <h2>Automation Scripts</h2>
    <li>
        <a href="https://github.com/OsagieDG/sap">sap</a> -
        Easily switch between multiple GitHub accounts without the hassle of dealing with SSH keys
    </li>

    <li>
        <a href="https://github.com/OsagieDG/1shot">1shot</a> -
        A simple, language-agnostic, declarative approach to setting up a new PostgreSQL local user and database with one command
    </li>

    <li>
        <a href="https://github.com/OsagieDG/1shotSequel">1shotSequel</a> -
        A simple, language-agnostic, declarative approach to setting up a new MySQL local user and database with one command
    </li>
  </section>

{{end}}

