{{template "layout" .}}

{{define "title"}}Workflow Tools{{end}}

{{define "main"}}

<div class="title">
    <h1 style="color: lightblue;">Workflow Tools</h1>
</div>

<div class="description">
    <p><strong>A curated list of all the tools I've built that support my development workflow.</strong></p>
</div>

<div class="toc">
    <h3>Table of Contents</h3>
    <ul>
      <li><a href="#automation-scripts">Automation Scripts</a></li>
      <li><a href="#debugging-utilities">Debugging Utilities</a></li>
      <li><a href="#productivity-timer">Productivity Timer</a></li>
      <li><a href="#minimal-text-editor-config">Minimal Text Editor Config</a></li>
      <li><a href="#deployment-automation">Deployment Automation</a></li>
    </ul>
</div>

  <section id="automation-scripts">
    <h2>Automation Scripts</h2>
    <li>
        <a href="https://github.com/osag1e/sap">sap</a> - Easily switch between multiple GitHub accounts without the hassle of dealing with SSH keys
    </li>

    <li>
        <a href="https://github.com/osag1e/1shotSequel">1shotSequel</a> - A simple, language-agnostic, declarative approach to setting up a new MySQL local user and database with one command 
    </li>

    <li>
        <a href="https://github.com/osag1e/1shot">1shot</a> - A simple, language-agnostic, declarative approach to setting up a new PostgreSQL local user and database with one command
    </li>
  </section>

  <section id="debugging-utilities">
    <h2>Debugging Utilities</h2>
    <li>
        <a href="https://github.com/osag1e/logstack">logstack</a> - Custom Logging Service for Go HTTP
    </li>
  </section>

  <section id="productivity-timer">
    <h2>Productivity Timer</h2>
    <li>
        <a href="https://github.com/osag1e/pomodoro-timer">pomodoro-timer</a> - CLI Pomodoro timer with work and break duration sound alerts.
    </li>
  </section>

  <section id="minimal-text-editor-config">
    <h2>Minimal Text Editor Config</h2>
    <li>
        <a href="https://github.com/osag1e/my-neovim-config">my-neovim-config</a> - A Neovim Configuration with features you'd expect from an IDE
    </li>
  </section>

  <section id="deployment-automation">
    <h2>Deployment Automation</h2>
    <li>
        <a href="https://github.com/osag1e/go-k8s-google-cluster">go-k8s-google-cluster</a> - Using Makefile automation to deploy a Dockerized sample Go app on GKE Autopilot Cluster
    </li>
  </section>

{{end}}

