<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>My Projects</title>
  <meta property="og:title" content="My Projects">
  <meta property="og:url" content="https://osagie.gg/posts">
  <meta property="og:description" content="Explore my projects and their links on GitHub.">
  <meta property="og:type" content="website">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="/static/styles/pages.css">
  <link rel="stylesheet" href="/static/styles/writer.css">
  <script src="/static/js/dark-mode.js" defer></script>
</head>

<body>
  <nav class="navbar">
    <div class="links">
      <a class="link" href="/">Home</a>
      <a class="link" href="about">About</a>
      <a class="link" href="posts">Posts</a>
    </div>

    <button onclick="myFunction()" id="darkModeToggle" class="toggle-button">
      <i class="fas fa-sun"></i>
      <i class="fas fa-moon"></i>
    </button>
  </nav>

  <div class="header">
    <h1 style="color: lightblue;">Neovim & Tmux Saved My Linux PC</h1>
  </div>

  <!-- Author information with display picture -->
  <div class="author-info">
    <img class="author-img" src="static/images/osagie.png" alt="Osagie Godstand">
    <div class="text-sm">
      By Osagie Godstand
      on Jul 04, 2024
    </div>
  </div>

  <div class="content">
<p>Neovim is a text editor used straight from the command line (terminal). Tmux is a terminal multiplexer that allows you to create sessions in a single terminal window, create vertical and horizontal split panes, and easily switch from one pane to another while working on multiple tasks.</p>

<h2>Why Neovim & Tmux?</h2>

<p>Neovim is lightweight by default, not as memory-intensive as IDEs, and highly customizable to fit your workflow. In simple terms, for software development, Neovim and Tmux allow you to do what code editors like VSCode and IDEs can do, while maintaining minimalism and improving efficiency.</p>

<h2>I Had Issues Using VSCode</h2>

<p>I had issues using VSCode on my Linux laptop due to slow load times and responsiveness. VSCode consumes a lot of memory, which affected my development experience. I primarily use a Mac with an M2 chip and rarely have any problems using VSCode with Vim motions on my MacBook Air. I realized that the slowdown on my Linux laptop was due to its processing power. When you are used to a fast processor like the M2 Mac, it is difficult to adjust to a slower device. So, I decided to take this opportunity to configure Neovim and learn Tmux to meet the basic requirements I get from the VSCode code editor. I did this by setting up the Treesitter, installing plugins, and getting autocomplete as well as LSPs (Language Server Protocols) for the programming languages I use, which provide semantic highlighting.</p>

<img src="static/images/neo.png" alt="neovim">

<h2>It Is Worth It</h2>

<p>Configuring Neovim to suit your software development needs might be difficult, but the learning curve is worth it, especially if your PC is not powerful enough to handle the high memory requirements of modern development tools.</p>


<h2>I Will Improve</h2>

<p>My current ability to use Vim motions still has room for improvement. I personally do not like the idea of using hjkl over arrow keys for navigation, but I could change that opinion in the future.</p>

<h2>Going Forward</h2>

<p>Although I will still use VSCode and other IDEs from time to time, Neovim & Tmux will now be a main part of my development workflow whether I am using my Linux or Mac laptop.</p>

<h2>To Conclude</h2>

<p>The combination of Neovim and Tmux is an oasis of minimalism and efficiency for PCs with limited processing power, in a world dominated by memory-intensive IDEs.</p>

  <div class="links">
            <a href="posts">Back to Posts</a>
  </div>  
  </div> 

  <footer>
    <div class="footer">
      <p>&copy; 2024 <a href="/"><b>Osagie Godstand</b></a>.</p>
    </div>
  </footer>
</body>

</html>

