.blog-list ul li {
  margin-top: 50px;
  margin-bottom: 40px;
  padding-bottom: 20px;
  overflow: hidden;
  position: relative;
}

.blog-list ul li .preview-image {
  margin-bottom: 20px;
}

.blog-list ul li .preview-image img {
  width: 340px;
  height: 210px;
  border-radius: 5px;
  float: left;
  margin-right: 20px;
}

.blog-list ul li .post-info {
  text-align: left;
}

.blog-list ul li .post-info h3 {
  margin-top: 0;
}
